<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User registration</title>
</head>
<body>
<form th:action="@{/users}" method="post" th:object="${user}">
    <label for="email"> Email:
        <input id="email" type="text" name="email" th:value="*{email}">
    </label><br>
    <label for="password"> Password:
        <input id="password" type="password" name="password">
    </label><br>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role.name()}" th:checked="${role == user.role}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>